<div class="modal fade" id="callback_modal" tabindex="-1" aria-labelledby="callback_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title fs-5" id="callback_modal_label">Заказать обратный звонок</span>
        {% comment %} <button type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fa-lg"></i></button> {% endcomment %}
        <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fa-lg"></i></a>
      </div>
      <div class="modal-body">
      {% include 'callback/form.html' %}
      </div>
    </div>
  </div>
</div>