.git
.venv
.vscode
.docker
__pycache__

*.json

node_modules
db_backup
cache
media/*

settings_local.py

*.sql
*.log
*.zip
*/.env

commands.txt

.ssh
.coverage
.coveragerc
htmlcov/
*/certbot/*
letsencrypt.sh

#media/