{% load thumbnail cache app_label %}
{% cache cache_timeout images object|app_label object.id using="images" %}
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Наши работы</h2>
    </div>
    <div class="row portfolio-container">
    {% for image in object.portfolio.all %}
      <div class="col-sm-6 col-lg-4 portfolio-item">
        <div class="portfolio-wrap">
          <img src="{{ image.path|thumbnail_url:'1920w' }}" data-srcset="{{ image.path|thumbnail_url:'360w' }} 360w, {{ image.path|thumbnail_url:'720w' }} 720w, {{ image.path|thumbnail_url:'1080w' }} 1080w, {{ image.path|thumbnail_url:'1920w' }} 1920w" srcset="{{ image.path|thumbnail_url:'360w_poor' }} 360w, {{ image.path|thumbnail_url:'720w_poor' }} 720w, {{ image.path|thumbnail_url:'1080w_poor' }} 1080w, {{ image.path|thumbnail_url:'1920w_poor' }} 1920w" sizes="(max-width: 576px) 100vw, ((min-width: 577px) and (max-width: 992px)) 50vw, 30vw" class="img-fluid lazyload" alt="{{image.alt}}" title="{{image.title}}" />
          <div class="portfolio-info">
            <div class="portfolio-links">
              <a href="{{ image.path|thumbnail_url:'1920w' }}" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="fas fa-search-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endcache %}
