{% load static cache app_label %}
{% if object.block_svg.all %}
{% cache cache_timeout block_svg object|app_label object.id %}
<section id="block-svg" class="d-none d-sm-block">
  <div class="container">
    <div class="section-title">
      <h2>{{ object.block_svg_title }}</h2>
    </div>
    <div class="row">
    {% for value in object.block_svg.all %}
      {% comment %} {% if value.is_visible %} {% endcomment %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="{% get_media_prefix %}{{value.svg_path}}" width="44" height="44" alt="{{value.title}}"></div>
              <p class="caption">{{value.title}}</p>
              <p>{{value.description}}</p>
            </div>
          </div>
      {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
    </div>
  </div>
</section>
{% endcache %}
{% endif %}
