{% load thumbnail cache app_label humanize %}
{% if object.block_price.all %}
{% cache cache_timeout block_price object|app_label object.id %}
<section id="block-price">
  <div class="container">
    <div class="section-title">
      {%if object.block_price_title%}
        <span>{{object.block_price_title}}</span>
      {%else%}
        <span>Наши цены на Вашу лестницу Вас приятно удивят</span>
      {%endif%}
      <p class="fst-italic">Указанные цены не являются публичной офертой.</p>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for price in object.block_price.all %}
        {% comment %} {% if price.is_visible %} {% endcomment %}
          <div class="col">
            <div class="card rounded-0 border-0 h-100">
              {% if not price.img_path %}
              <svg class="bd-placeholder-img card-img-top" width="100%" height="308" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                {% comment %} <title>{{ price.title }}</title> {% endcomment %}
                <rect width="100%" height="100%" fill="#ffc451"></rect>
                <text x="50%" y="50%" fill="#000" dy=".3em">Картинка</text>
              </svg>
              {% else %}
                <img src="{{ price.img_path|thumbnail_url:'1080w' }}" data-srcset="{{ price.img_path|thumbnail_url:'360w' }} 360w, {{ price.img_path|thumbnail_url:'540w' }} 540w, {{ price.img_path|thumbnail_url:'720w' }} 720w" srcset="{{ price.img_path|thumbnail_url:'360w_poor' }} 360w, {{ price.img_path|thumbnail_url:'540w_poor' }} 540w, {{ price.img_path|thumbnail_url:'720w_poor' }} 720w" sizes="(max-width: 576px) 100vw, ((min-width: 577px) and (max-width: 992px)) 50vw, 30vw" class="img-fluid lozad" alt="{{price.title}}" title="{{price.title}}">
              {% endif %}
              <div class="card-body">
                <p class="card-title">от {{ price.price|intcomma }} руб.</p>
                <p class="card-text">{{ price.title }}</p>
              </div>
            </div>
          </div>
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
    </div>
  </div>
</section>
{% endcache %}
{% endif %}