{% load thumbnail cache app_label humanize %}
{% if object.typical_project %}
{% cache cache_timeout typical_project object|app_label object.id %}
<section class="typical-project">
  <div class="container">
    <div class="section-title">
      <h3>{{ object.typical_project.name }}</h3>
      <p class="fst-italic">Возможны варианты с индивидуальными параметрами.</p>
    </div>
    <table class="table table-borderless">
      <tr>
        <td>Размеры (В&times;Ш&times;Д):</td>
        <td>{{ object.typical_project.height }}&times;{{ object.typical_project.width }}&times;{{ object.typical_project.length }} м.</td>
      </tr>
      <tr>
        <td>Металлический каркас:</td>
        <td>{{ object.typical_project.frame_material }}, размеры: {{ object.typical_project.frame_width }}&times;{{ object.typical_project.frame_thickness }} мм.</td>
      </tr>
      <tr>
        <td>Окраска:</td>
        <td>{{ object.typical_project.coloring }}</td>
      </tr>
      <tr>
        <td>Настил:</td>
        <td>{{ object.typical_project.flooring_material }}</td>
      </tr>
      {% if object.typical_project.extra %}
      <tr>
        <td>Дополнительно:</td>
        <td>{{ object.typical_project.extra }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</section>
{% endcache %}
{% endif %}