<div class="header-main-page">
  <div class="header-inner-main-page">
    <div class="container">
      <div class="header-top">
        <div class="row align-items-center">
          <div class="col-lg-auto text-xs-center">
            <div class="header-logo"></div>
          </div>
          <!-- col -->
          <div class="col-lg-3 offset-xl-2">
            <div class="header-address">
              <div class="header-address__icon"></div>
              <div class="header-address__text">
                г. Санкт-Петербург, ул. Студенческая, д. 10 литера В, ТЦ
                "Ланской" 3 этаж, секция 8.3
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col mr-auto">
            <div class="header-phone">
              <div class="header-phone__main-phone">
                <a href="tel:+79633056757" class="header-phone__link"
                  >+7 (963) 305-67-57
                </a>
              </div>
              <div class="footer__mail">
                <a href="mailto:studioofmetal@yandex.ru"
                  >studioofmetal@yandex.ru</a
                >
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-auto">
            <div class="header-btn-zayvka">
              <a
                data-fancybox=""
                data-src="#form-popup-request"
                href="javascript:;"
                class="btn-link header-btn-zayvka__link"
              >
                Заказать расчет
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /header-top -->
      <div class="row">
        <div class="col-lg">
          <nav class="header-top-menu menu-line-main-page">
            <div id="flvmenu">
              <div class="minmenu"><i class="fa fa-bars"></i><a>МЕНЮ</a></div>
              <ul
                id="horizontal-multilevel-menu"
                itemscope=""
                itemtype="http://schema.org/SiteNavigationElement"
                style="display: block"
              >
                <li class="root-item">
                  <a href="/kompaniya/" itemprop="url">О компании</a>
                  <a class="flarr"></a>
                  <ul style="height: auto; left: 0px; right: auto">
                    <li>
                      <a href="/kompaniya/index.php" itemprop="url"
                        >О компании</a
                      >
                    </li>

                    <li>
                      <a href="/kompaniya/otzyvy/" itemprop="url">Отзывы</a>
                    </li>

                    <li>
                      <a href="/kompaniya/sertifikaty/" itemprop="url"
                        >Сертификаты</a
                      >
                    </li>

                    <li>
                      <a href="/kompaniya/sotrudniki/" itemprop="url"
                        >Сотрудники</a
                      >
                    </li>

                    <li>
                      <a href="/kompaniya/partnery/" itemprop="url"
                        >Партнерство</a
                      >
                    </li>

                    <li>
                      <a href="/kompaniya/news/" itemprop="url"
                        >Вопросы-ответы</a
                      >
                    </li>

                    <li>
                      <a href="/kompaniya/rekvizity/" itemprop="url"
                        >Реквизиты</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="root-item">
                  <a href="/catalog/" itemprop="url">Каталог</a>
                  <a class="flarr"></a>
                  <ul style="height: auto; left: 0px; right: auto">
                    <li>
                      <a
                        href="/catalog/lestnitsy/"
                        class="parent"
                        itemprop="url"
                        >Лестницы</a
                      >
                      <a class="flarr"></a>
                      <ul style="height: auto; left: 100%; right: auto">
                        <li>
                          <a
                            href="/catalog/lestnitsy/karkasy-lestnits/"
                            itemprop="url"
                            >Каркасы лестниц</a
                          >
                        </li>

                        <li>
                          <a
                            href="/catalog/lestnitsy/ograzhdeniya-lestnits/"
                            itemprop="url"
                            >Ограждения лестниц</a
                          >
                        </li>

                        <li>
                          <a
                            href="/catalog/lestnitsy/stupeni-dlya-lestnits/"
                            itemprop="url"
                            >Ступени для лестниц</a
                          >
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a href="/catalog/kryltsa/" class="parent" itemprop="url"
                        >Крыльца</a
                      >
                      <a class="flarr"></a>
                      <ul style="height: auto; left: 100%; right: auto">
                        <li>
                          <a
                            href="/catalog/kryltsa/kryltso-klassika/"
                            itemprop="url"
                            >Крыльцо "Классика"</a
                          >
                        </li>

                        <li>
                          <a
                            href="/catalog/kryltsa/kryltso-sovremennoe/"
                            itemprop="url"
                            >Крыльцо "Современное"</a
                          >
                        </li>

                        <li>
                          <a
                            href="/catalog/kryltsa/kryltso-ornament/"
                            itemprop="url"
                            >Крыльцо "Орнамент"</a
                          >
                        </li>

                        <li>
                          <a
                            href="/catalog/kryltsa/kryltso-modern/"
                            itemprop="url"
                            >Крыльцо "Модерн"</a
                          >
                        </li>

                        <li>
                          <a
                            href="/catalog/kryltsa/kryltso-pristavnoe/"
                            itemprop="url"
                            >Крыльцо "Приставное"</a
                          >
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a
                        href="/catalog/predmety-interera/"
                        class="parent"
                        itemprop="url"
                        >Предметы интерьера</a
                      >
                      <a class="flarr"></a>
                      <ul style="height: auto; left: 100%; right: auto">
                        <li>
                          <a
                            href="/catalog/predmety-interera/svetilnik-na-16-svetotochek/"
                            itemprop="url"
                            >Светильник на 16 светоточек</a
                          >
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a
                        href="/catalog/predmety-eksterera/"
                        class="parent"
                        itemprop="url"
                        >Предметы экстерьера</a
                      >
                      <a class="flarr"></a>
                      <ul style="height: auto; left: 100%; right: auto">
                        <li>
                          <a
                            href="/catalog/predmety-eksterera/mostik/"
                            itemprop="url"
                            >Мостик</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="root-item">
                  <a href="/uslugi/" itemprop="url">Услуги</a>
                  <a class="flarr"></a>
                  <ul style="height: auto; left: 0px; right: auto">
                    <li>
                      <a href="/uslugi/ustanovka-krylets/" itemprop="url"
                        >Установка крылец</a
                      >
                    </li>

                    <li>
                      <a
                        href="/uslugi/ustanovka-interernykh-lestnits/"
                        itemprop="url"
                        >Установка интерьерных лестниц</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="root-item">
                  <a href="/tseny/" itemprop="url">Цены</a>
                  <a class="flarr"></a>
                  <ul style="height: auto; left: 0px; right: auto">
                    <li>
                      <a href="/tseny/#link-1" itemprop="url"
                        >Цены на каркасы</a
                      >
                    </li>

                    <li>
                      <a href="/tseny/#link-2" itemprop="url"
                        >Цены на ступени</a
                      >
                    </li>

                    <li>
                      <a href="/tseny/#link-3" itemprop="url"
                        >Цены на ограждения</a
                      >
                    </li>

                    <li>
                      <a href="/tseny/#link-4" itemprop="url"
                        >Цены на доставку</a
                      >
                    </li>

                    <li>
                      <a href="/tseny/#link-5" itemprop="url"
                        >Цены на установку</a
                      >
                    </li>
                  </ul>
                </li>

                <li><a href="/proekty/" itemprop="url">Калькулятор</a></li>

                <li><a href="/aktsii/" itemprop="url">Акции</a></li>

                <li class="root-item">
                  <a href="/portfolio/" itemprop="url">Портфолио</a>
                  <a class="flarr"></a>
                  <ul style="height: auto; left: 0px; right: auto">
                    <li>
                      <a
                        href="/portfolio/interernye-lestnitsy/"
                        class="parent"
                        itemprop="url"
                        >Интерьерные лестницы</a
                      >
                      <a class="flarr"></a>
                      <ul style="height: auto; left: -100%; right: auto">
                        <li>
                          <a
                            href="/portfolio/interernye-lestnitsy/lestnitsy-na-dvoynom-kosoure/"
                            itemprop="url"
                            >Лестницы на двойном косоуре</a
                          >
                        </li>

                        <li>
                          <a
                            href="/portfolio/interernye-lestnitsy/vintovye-lestnitsy/"
                            itemprop="url"
                            >Винтовые лестницы</a
                          >
                        </li>

                        <li>
                          <a
                            href="/portfolio/interernye-lestnitsy/lestnitsy-na-monokosoure/"
                            itemprop="url"
                            >Лестницы на монокосоуре</a
                          >
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a
                        href="/portfolio/kryltsa/"
                        class="parent"
                        itemprop="url"
                        >Крыльца</a
                      >
                      <a class="flarr"></a>
                      <ul style="height: auto; left: -100%; right: auto">
                        <li>
                          <a
                            href="/portfolio/kryltsa/kryltso-sovremennoe/"
                            itemprop="url"
                            >Крыльцо "Современное"</a
                          >
                        </li>

                        <li>
                          <a
                            href="/portfolio/kryltsa/kryltso-klassika/"
                            itemprop="url"
                            >Крыльцо "Классика"</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li><a href="/kontakty/" itemprop="url">Контакты</a></li>

                <li id="fllast" style="display: none">
                  <a>. . .</a><a class="flarr"></a>
                  <ul style="height: auto; left: 0px; right: auto"></ul>
                </li>
              </ul>
            </div>
            <div class="menu-clear-left"></div>
          </nav>
        </div>
      </div>
      <!-- /top-menu -->
      <!-- FORM -->
      <div class="header-form">
        <div class="header-form__inner">
          <form class="form-slider-main__form feedback" method="post">
            <div class="form-slider-main__text">Оставить заявку</div>
            <input
              type="text"
              name="form_name"
              placeholder="Ваше имя"
              maxlength="50"
              class="form-slider-main__input"
            />
            <input
              type="text"
              name="form_phone"
              placeholder="Ваш номер телефона*"
              required="required"
              class="inputmask form-slider-main__input"
              im-insert="true"
            />
            <div class="feedback-garant form-slider-main__feedback-garant">
              <div class="feedback-garant__box">
                <input
                  type="checkbox"
                  checked="checked"
                  class="feedback-garant__checkbox"
                />
                <label class="feedback-garant__label">
                  Cогласие с
                  <a
                    href="/kontakty/politika-konfidentsialnosti/"
                    target="_blank"
                    class="feedback-garant__link"
                    >политикой конфиденциальности</a
                  >
                </label>
              </div>
              <div class="feedback-garant__mess-error"></div>
            </div>
            <button type="submit" class="form-slider-main__btn btn-button">
              Отправить
            </button>
            <div
              class="feedback-send-message form-slider-main__send-mess"
            ></div>
          </form>
        </div>
      </div>

      <!-- /FORM -->
    </div>
  </div>
</div>
