<footer class="footer mt-auto">
  <div class="container pt-5 pb-4">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>
          <a href="tel:+79633056757">+7 (963) 305-67-57</a>
        </p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>
          <a href="mailto:info@studio-of-metal.ru">info@studio-of-metal.ru</a>
        </p>
        {% comment %} <p class="mb-2">Работаем в Санкт-Петербурге и Ленинградской области</p> {% endcomment %}
        <div class="footer-address">
          <i class="fa fa-map-marker-alt me-4 pt-1"></i>
          <div>г. Санкт-Петербург, ул.&nbsp;Студенческая, д.&nbsp;10 литера&nbsp;В, ТЦ "Ланской" 3 этаж, секция&nbsp;8.3</div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-center justify-content-md-end">
          <a class="btn-social btn-whatsapp" href="https://api.whatsapp.com/send?phone=+79062425219" target="_blank" rel="noopener" aria-label="Whatsapp">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a class="btn-social btn-telegram" href="https://t.me/+79062425219" target="_blank" rel="noopener" aria-label="Телеграм">
            <i class="fab fa-telegram-plane"></i>
          </a>
          <a class="btn-social btn-vk" href="https://vk.com/public202109189" target="_blank" rel="noopener" aria-label="Вконтакте">
            <i class="fab fa-vk"></i>
          </a>
          {% comment %} <a class="btn-social btn-instagram" href="https://www.instagram.com/lestnica_v_dom_spb/" target="_blank" rel="noopener" aria-label="Инстаграм">
            <i class="fab fa-instagram"></i>
          </a> {% endcomment %}
          <a class="btn-social btn-youtube" href="https://www.youtube.com/channel/UCMrVSYMuyIifKcLg6MuMXkA" target="_blank" rel="noopener" aria-label="Youtube">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">&copy; <a href="/">ПМ "Студия Металла"</a>, <span><script type="text/javascript">document.write(new Date().getFullYear());</script></span></div>
          <div class="col-md-6 text-center text-md-end"><a href="/privacy-policy/">Политика конфиденциальности</a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"><p style="text-align: center; line-height: 1.5; font-size: 13.5px;">Представленные цены носят ознакомительный характер и не являются публичной офертой, определяемой положениями ст. 437 Гражданского кодекса РФ.</p></div>
      </div>
    </div>
  </div>
</footer>
