{% load static %}
<header class="header">
    {% comment %} <div class="container-fluid d-none d-md-block"> {% endcomment %}
    <div class="container-fluid">
      <div class="header-inner">
        <div class="row align-items-center">
          <div class="col-md-4 col-lg-3 d-none d-md-block">
            {% comment %} <div class="header-address"> {% endcomment %}
            <div>
              <a href="/" class="navbar-brand p-0">
                <img src="{% static 'images/logo.svg' %}" alt="ПМ Студия Металла" width="260">
              </a>
              {% comment %} <i class="fas fa-map-marker-alt me-3 pt-1"></i>
              <div>г. Санкт-Петербург, ул.&nbsp;Студенческая, д.&nbsp;10 литера&nbsp;В, ТЦ&nbsp;"Ланской" 3&nbsp;этаж, секция&nbsp;8.3</div> {% endcomment %}
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-6 d-none d-sm-block">
            <div class="container">
              <div class="row">
                <div class="header-email col-lg-6 d-none d-lg-block">
                  <i class="far fa-envelope"></i>
                  <div class="header-email__main-email ms-2">
                    <a href="mailto:info@studio-of-metal.ru">info@studio-of-metal.ru</a>
                  </div>
                </div>
                <div class="header-phone col-lg-6">
                  <i class="fas fa-phone-alt"></i>
                  <div class="header-phone__main-phone ms-2">
                    <a href="tel:+79633056757">+7 (963) 305-67-57</a>
                    {% comment %} <a href="tel:+79219451942">+7 (921) 945-19-42</a> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            {% comment %} <div class="d-flex justify-content-center justify-content-md-end"> {% endcomment %}
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#callback_modal" data-bs-whatever="@getbootstrap"><i class="fas fa-undo me-2"></i> Обратный звонок</button>
            </div>
          </div>
        </div>
      </div>
      {% include 'navbar.html' %}
    </div>
</header>
