{% load static dict %}
<nav class="navbar navbar-expand-lg navbar-dark py-3 py-lg-0 px-2 px-sm-4" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <a href="/" class="navbar-brand p-0" itemprop="url">
    <img src="{% static 'images/logo.svg' %}" alt="ПМ Студия Металла" width="260">
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse pt-2 py-lg-0" id="navbarCollapse">
    <div class="navbar-nav ms-auto">
      
      <div class="nav-item dropdown">
        <button class="nav-link btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Лестницы</button>
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          {% for s in menu|dict:'staircases' %}
          <a href="{% url 'staircases:detail' s.slug %}" class="dropdown-item" itemprop="url">{{s.menu_name}}</a>
          {%endfor%}
        </div>
      </div>

      <div class="nav-item dropdown">
        <button class="nav-link btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Перила</button>
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          {% for s in menu|dict:'railing' %}
          <a href="{% url 'railing:detail' s.slug %}" class="dropdown-item" itemprop="url">{{s.menu_name}}</a>
          {%endfor%}
        </div>
      </div>

      <div class="nav-item dropdown">
        <button class="nav-link btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ступени</button>
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          {% for s in menu|dict:'steps' %}
          <a href="{% url 'steps:detail' s.slug %}" class="dropdown-item" itemprop="url">{{s.menu_name}}</a>
          {%endfor%}
        </div>
      </div>

      <div class="nav-item dropdown">
        <button class="nav-link btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Крыльцо</button>
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          {% for s in menu|dict:'porch' %}
          <a href="{% url 'porch:detail' s.slug %}" class="dropdown-item" itemprop="url">{{s.menu_name}}</a>
          {%endfor%}
        </div>
      </div>

      <a href="{% url 'bridges' %}" class="nav-item nav-link" itemprop="url">Мостик</a>
      <a href="/contacts" class="nav-item nav-link" itemprop="url">Контакты</a>

    </div>
  </div>
</nav>