{% extends "main.html" %}

{% block head %}
  <title>{{ object.head_title }}</title>
  <meta name="description" content="{{ object.meta_description }}">
  <meta property="og:title" content="{{ object.head_title }}">
  <meta property="og:description" content="{{ object.meta_description }}">
  <meta property="og:url" content="{{host}}{% url 'staircases:detail' object.slug %}">
{% endblock %} 

{% block h1 %}{{object.name}}{% endblock %}

{% block hero_background %}staircase-background{% endblock %}

{% block content %}

{% include "description.html" %}
{% include "staircases/typical_project.html" %}
{% include "blocks/block_svg.html" %}
{% include "blocks/block_railings.html" %}
{% include "blocks/block_price.html" %}
{% include "calculator/index.html" %}
{% include "portfolio/index.html" %}
{% include "hwaw/index.html" %}
{% include "callback/index.html" %}

{% endblock %}
