{% load thumbnail cache app_label humanize %}
{% if object.typical_project %}
{% cache cache_timeout typical_project object|app_label object.id %}
<section class="typical-project">
  <div class="container">
    <div class="section-title">
      <span>{{ object.typical_project.name }}</span>
      <p class="fst-italic">Возможены варианты с индивидуальными параметрами.</p>
    </div>
    <table class="table table-borderless">
      {% if object.typical_project.frame_broken_material %}
      <tr>
        <td>Металлический «ломаный» каркас:</td>
        <td>{{ object.typical_project.frame_broken_material }}, {{ object.typical_project.frame_broken_width }}&times;{{ object.typical_project.frame_broken_thickness }} мм.</td>
      </tr>
      {% endif%}
      {% if object.typical_project.frame_straight_material %}
      <tr>
        <td>Металлический «прямой» каркас:</td>
        <td>{{ object.typical_project.frame_straight_material }}, {{ object.typical_project.frame_straight_width }}&times;{{ object.typical_project.frame_straight_thickness }} мм.</td>
      </tr>
      {% endif %}
      <tr>
        <td>Окраска:</td>
        <td>{{ object.typical_project.coloring }}</td>
      </tr>
      <tr>
        <td>Ступени:</td>
        <td>{{ object.typical_project.steps_material }}{% if object.typical_project.steps_height %}, высота ступеней: {{ object.typical_project.steps_height }} м.{% endif %}</td>
      </tr>
      {% if object.typical_project.extra %}
      <tr>
        <td>Дополнительно:</td>
        <td>{{ object.typical_project.extra }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</section>
{% endcache %}
{% endif %}