{% extends "main.html" %}

{% block head %}
  {% include 'head.html' %}
  <meta property="og:url" content="{{host}}{% url 'porch:detail' object.slug %}">
{% endblock %} 

{% block h1 %}{{object.name}}{% endblock %}

{% block hero_background %}porch-background{% endblock %}

{% block content %}

{% include "description.html" %}
{% include "porch/typical_project.html" %}
{% include "blocks/block_railings.html" %}
{% include "portfolio/index.html" %}
{% include "hwaw/index.html" %}
{% include "callback/index.html" %}

{% endblock %}
