{% load thumbnail cache app_label humanize %}
{% if object.typical_project %}
{% cache cache_timeout typical_project object|app_label object.id %}
<section class="typical-project">
  <div class="container">
    <div class="section-title">
      <h2>{{ object.typical_project.name }}</h2>
      <p class="fst-italic">Возможены варианты с индивидуальными параметрами.</p>
    </div>
    <table class="table table-borderless">
      <tr>
        <td>Размеры (В&times;Ш&times;Г):</td>
        <td>{{ object.typical_project.height }}&times;{{ object.typical_project.width }}&times;{{ object.typical_project.depth }} м.</td>
      </tr>
      <tr>
        <td>Металлический каркас:</td>
        <td>{{ object.typical_project.frame_material }}, {{ object.typical_project.frame_width }}&times;{{ object.typical_project.frame_thickness }} мм., количество косоуров: {{ object.typical_project.frame_kosour_count }}</td>
      </tr>
      <tr>
        <td>Окраска:</td>
        <td>{{ object.typical_project.coloring }}</td>
      </tr>
      <tr>
        <td>Ступени:</td>
        <td>{{ object.typical_project.steps_material }}, высота ступеней: {{ object.typical_project.steps_height }} м.</td>
      </tr>
      {% if object.typical_project.extra %}
      <tr>
        <td>Дополнительно:</td>
        <td>{{ object.typical_project.extra }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</section>
{% endcache %}
{% endif %}