{% extends 'main.html' %}
{% load i18n %}

{% block head %}
<title>{% trans 'Feedback' %}</title>
<meta name="description" content="{% trans "Feedback" %}">
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Feedback' %}</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <p>{% trans 'Обратите внимание, что все поля, обязательны для заполнения.' %}</p>
    </div>
    <div class="col-md-9">
        {% if form.errors %}
            <div class="alert alert-danger">
                {% trans 'Please, correct the errors!' %}
                <a class="close" data-dismiss="alert">×</a>
            </div>
        {% endif %}
        <form method="POST">{% csrf_token %}
{#            <div class="form-group {% if form.name.errors %}has-error{% endif %}">#}
{#                <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>#}
{#                <div class="input-group mb-3">#}
{#                  <div class="input-group-prepend">#}
{#                      <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>#}
{#                 </div>#}
{#                    {{ form.name }}#}
{#                </div>#}
{#                {% if form.name.errors %}#}
{#                    <span class="text-danger">{{ form.name.errors.as_text }}</span>#}
{#                {% endif %}#}
{#            </div>#}

            <div class="form-group {% if form.sender.errors %}has-error{% endif %}">
                <label for="{{ form.sender.id_for_label }}" class="control-label">{{ form.sender.label }}</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                    {{ form.sender }}
                </div>
                {% if form.sender.errors %}
                    <span class="text-danger">{{ form.sender.errors.as_text }}</span>
                {% endif %}
            </div>

            <div class="form-group {% if form.subject.errors %}has-error{% endif %}">
                <label for="{{ form.subject.id_for_label }}" class="control-label">{{ form.subject.label }}</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                    <i class="fa fa-crosshairs" aria-hidden="true"></i></span>
                </div>
                    {{ form.subject }}
                </div>
                {% if form.subject.errors %}
                    <span class="text-danger">{{ form.subject.errors.as_text }}</span>
                {% endif %}
            </div>

            <div class="form-group {% if form.message.errors %}has-error{% endif %}">
                <label for="{{ form.message.id_for_label }}" class="control-label">{{ form.message.label }}</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                    <i class="fa fa-comment" aria-hidden="true"></i></span>
                </div>
                    {{ form.message }}
                </div>
                {% if form.message.errors %}
                    <span class="text-danger">{{ form.message.errors.as_text }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LcfcnEUAAAAANbuWiTnecdyHkLi7La0Z0W3Cerf"></div>
                {% if form.captcha.errors %}
                    <span class="text-danger">{{ form.captcha.errors.as_text }}</span>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">{% trans 'Send' %}</button>
        </form>
    </div>
</div>
{% endblock %}
